{:paths ["src" "test"]
 :deps {io.github.kotoba-lang/glb {:local/root "../org-khronos-glb"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]}}}
